@import '../../node_modules/bootstrap/scss/bootstrap.scss'
// font-face
//     font-family : 'Poppins'
//     src: url(../../public/font/Poppins-Black.ttf)
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.css'

body
    font-family : 'Poppins', sans-serif

// HEADER START

#logo
    display: block
    margin: auto
    margin-top: 50px
    width: 10%

// HEADER END

// SECTION1 START 

#section1
    background-color: #F3F3F3
    h1
        font-size: 80px
        font-weight: bold
    h3
        font-size: 50px
// SECTION1 END